<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10 mt-3">
      <div class="card shadow">

        <h3 class="card-header">
          <i class="fas fa-bed" aria-hidden="true"></i>
          &nbsp; Update Room Type
        </h3>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="room-type-name">Type Name</label>
              <input type="text" id="room-type-name" class="form-control"
                     value="{{roomType.type_name}}" autofocus>
            </div>
            <div class="form-group">
              <label for="room-rate">Room Rate</label>
              <input type="number" id="room-rate" class="form-control" min="1"
                     value="{{roomType.room_rate}}">
            </div>
            <div class="form-group">
              <label for="max-customer">Maximum Customer</label>
              <input type="number" id="max-customer" class="form-control" min="1"
                     value="{{roomType.max_of_customer}}">
            </div>
            <div class="form-group">
              <label for="surcharge-rte">Surcharge Rate</label>
              <input type="number" id="surcharge-rate" class="form-control" min="0"
                     value="{{roomType.surcharge_rate}}">
            </div>
            <button type="button" id="btnSave" class="btn btn-outline-success"
                    onclick="updateRoomTypeHandler('{{roomType.type_id}}')">
              <i class="fa fa-check" aria-hidden="true"></i>
              Save
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>

{{#section "script"}}

  <!-- Sweetalert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script type="application/javascript">

    function updateRoomTypeHandler(typeId) {
      const typeName = $("#room-type-name").val().trim();
      const roomRate = parseInt($("#room-rate").val());
      const maxCustomer = parseInt($("#max-customer").val());
      const surchargeRate = parseFloat($("#surcharge-rate").val());
      const dataToPost = {};

      if (typeName) {
        dataToPost.type_name = typeName;
      }
      if (roomRate) {
        dataToPost.room_rate = roomRate;
      }
      if (maxCustomer) {
        dataToPost.max_of_customer = maxCustomer;
      }
      if (surchargeRate) {
        dataToPost.surcharge_rate = surchargeRate;
      }

      const jsonToPost = JSON.stringify(dataToPost);
      updateRoomType(typeId, jsonToPost);
    }

    function updateRoomType(typeId, data) {
      const protocol = window.location.protocol;
      const host = window.location.hostname;
      const port = window.location.port;
      const baseUrl = protocol + "//" + host + ":" + port;

      console.log(baseUrl);
      $.ajax({
        url: `${baseUrl}/regulations/room-type/${typeId}`,
        type: "PATCH",
        dataType: "json",
        data: data,
        contentType: "application/json"
      }).done(function (data) {
        console.log(data);
        Swal.fire({
          icon: "success",
          title: "Success",
          text: "The room type has been updated",
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          window.location.assign(baseUrl + "/regulations");
        });
      }).fail(function (error) {
        console.log(error);
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: 'Something went wrong!',
          showConfirmButton: false,
          timer: 2000
        });
      })
    }

  </script>
{{/section}}