<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10 mt-3">
      <div class="card shadow">

        <h3 class="card-header">
          <i class="fas fa-bed" aria-hidden="true"></i>
          Room Information
        </h3>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="room-name">Room Name</label>
              <input type="text" id="room-name" class="form-control" placeholder="VIP 1"
                     value="{{room.room_name}}" required>
            </div>

            <div class="form-group">
              <label for="room-type">Room Type</label>
              <select id="room-type" class="custom-select">
                <option disabled>Choose type</option>
                {{#each types}}
                  <option value="{{this.type_id}}">{{this.type_name}}</option>
                {{/each}}
              </select>
            </div>

            <div class="form-group">
              <label for="room-status">Room Status</label>
              <select id="room-status" class="custom-select">
                <option disabled>Choose status</option>
                {{#each statuses}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>

            <div class="form-group">
              <label for="room-note">Note</label>
              <input type="text" id="room-note" class="form-control"
                     value="{{room.note}}" placeholder="Enter some note">
            </div>
            <button type="button" id="btnSave" class="btn btn-outline-success"
                    onclick="onUpdateClick('{{room.room_id}}')">
              <i class="fa fa-check" aria-hidden="true"></i>
              Save
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>

{{#section "script"}}

  <!-- Sweetalert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script type="application/javascript">
    function onUpdateClick(roomId) {
      const roomName = $("#room-name").val().trim();
      const roomType = parseInt($("#room-type").val());
      const roomStatus = $("#room-status").val();
      const roomNote = $("#room-note").val().trim();
      const dataToPost = {
        room_name: roomName,
        room_type: roomType,
        status: roomStatus,
      };
      if (roomNote) {
        dataToPost.note = roomNote;
      }
      const jsonToPost = JSON.stringify(dataToPost);
      updateRoom(roomId, jsonToPost);
    }

    function updateRoom(roomId, data) {
      const protocol = window.location.protocol;
      const host = window.location.hostname;
      const port = window.location.port;
      const baseUrl = protocol + "//" + host + ":" + port;

      console.log(baseUrl);
      $.ajax({
        url: `${baseUrl}/rooms/${roomId}`,
        type: "PATCH",
        dataType: "json",
        data: data,
        contentType: "application/json"
      }).done(function (data) {
        console.log(data);
        Swal.fire({
          icon: "success",
          title: "Success",
          text: "The room has been updated",
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          window.location.assign(baseUrl + "/rooms");
        });
      }).fail(function (error) {
        console.log(error);
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: 'Something went wrong!',
          showConfirmButton: false,
          timer: 2000
        });
      })
    }
  </script>

  <script id="room-type-template" type="text/x-handlebars-template">
    {{room.room_type}},{{room.status}}


  </script>

  <script type="text/javascript">
    const data = document.getElementById("room-type-template").innerText.trim().split(",");
    $(`select option[value=${data[0]}]`).prop("selected", true);
    $(`select option[value=${data[1]}]`).prop("selected", true);
  </script>

{{/section}}