<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">

      <div class="row my-3">
        <div class="col-sm-6">
          <h1 class="h3 mb-2 text-gray-800">Room Types</h1>
        </div>

      </div>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Room table</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
              <thead>
              <tr>
                <th class="col-2">Type ID</th>
                <th class="col-2">Type Name</th>
                <th class="col-2">Room Rate</th>
                <th class="col-2">Max Customer</th>
                <th class="col-2">Surcharge Rate (%)</th>
                <th class="col-2">Options</th>
              </tr>
              </thead>
              <tbody>
              {{#each roomTypes}}
                <tr id="room-type-{{this.type_id}}">
                  <th scope="row">{{this.type_id}}</th>
                  <td>{{this.type_name}}</td>
                  <td>{{this.room_rate}}</td>
                  <td>{{this.max_of_customer}}</td>
                  <td>{{this.surcharge_rate}}</td>
                  <td>
                    <a class="btn py-0 px-1" href="/regulations/update/room-type/{{this.type_id}}">
                      <i class="far fa-edit fa-sm" style="color: #4e73df"></i>
                    </a>
                    <button class="btn py-0 px-1" onclick="confirmDelete('{{this.type_id}}')">
                      <i class="far fa-trash-alt fa-sm"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
            <div class="">
              <a role="button" href="/regulations/new/room-type"
                 class="btn font-weight-bold text-gray-100"
                 style="background-color: #4e73df;">
                Create Room Type
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="row my-3">
        <div class="col-sm-6">
          <h1 class="h3 mb-2 text-gray-800">Customer Types</h1>
        </div>
      </div>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Room table</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="col-2">Type ID</th>
                <th>Type Name</th>
                <th>Coefficient</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              {{#each customerTypes}}
                <tr id="customer-type-{{this.type_id}}">
                  <th scope="row">{{this.type_id}}</th>
                  <td>{{this.type_name}}</td>
                  <td>{{this.surcharge}}</td>
                  <td>
                    <a class="btn py-0 px-1" href="/regulations/update/customer-type/{{this.type_id}}">
                      <i class="far fa-edit fa-sm" style="color: #4e73df"></i>
                    </a>
                    <button class="btn py-0 px-1" onclick="confirmDeleteCustomerType('{{this.type_id}}')">
                      <i class="far fa-trash-alt fa-sm"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
            <div>
              <a role="button" href="/regulations/new/customer-type"
                 class="btn font-weight-bold text-gray-100"
                 style="background-color: #4e73df;">
                Create Customer Type
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{{#section "script"}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/x-handlebars-template" id="customerTypes">{{json customerTypes}}</script>
    <script type="application/javascript">
    const customerTypes = JSON.parse(document.getElementById("customerTypes").innerText.trim().replace(/&quot;/g, '"'));


    function editCustomerType(id) {
        const type = customerTypes.find(t => t.type_id===id);
        console.log(type);
        Swal.fire({
            title: 'Edit Customer Type',
            html: `
                    <div class="form-group">
                        <label for="idNumber">Type ID:</label>
                        <input type="text" id="idNumber" class="form-control" placeholder="ID" value="${type.type_id}" disabled>
                    </div>
                    <div class="form-group">
                    <label for="name">Type Name:</label>
                    <input type="text" id="name" class="form-control" placeholder="Name" value="${type.type_name}" disabled>
                    </div>
                    <div class="form-group">
                    <label for="surchargeRate">Surcharge Rate:</label>
                    <input type="text" id="surchargeRate" class="form-control" placeholder="surchargeRate" value="${type.surcharge}">
                    </div>
                        `,
            confirmButtonText: 'Update',
            focusConfirm: false,
            preConfirm: () => {
                const surchargeRate = parseFloat(Swal.getPopup().querySelector('#surchargeRate').value);
                if (!surchargeRate) {
                    Swal.showValidationMessage(`Please fill all fields!`)
                }
                return {surchargeRate}
            }
        }).then((result) => {
            const jsonToPost = JSON.stringify(result.value);
            // console.log(jsonToPost);
            updateCustomerType(id, jsonToPost);
        })
    }

    function updateCustomerType(id, data) {
        const protocol = window.location.protocol;
        const host = window.location.hostname;
        const port = window.location.port;
        const baseUrl = protocol + "//" + host + ":" + port;

        $.ajax({
            url: `${baseUrl}/regulations/customer-type/${id}/surcharge`,
            type: "POST",
            dataType: "json",
            data: data,
            contentType: "application/json"
        }).done(function (data) {
            console.log(data);
            Swal.fire({
                icon: "success",
                title: "Success",
                showConfirmButton: false,
                timer: 2000
            });
            window.location.assign(`${baseUrl}/regulations`);
        }).fail(function (error) {
            console.log(error);
            Swal.fire({
                icon: "error",
                title: "Oops...",
                showConfirmButton: false,
                timer: 2000
            });
        })
    }

    </script>


{{/section}}

{{#section 'script'}}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script type="text/javascript">
    function confirmDelete(typeId) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-danger mr-3',
          cancelButton: 'btn btn-light'
        },
        buttonsStyling: false
      })

      swalWithBootstrapButtons.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
      }).then((result) => {
        if (result.isConfirmed) {
          deleteRoomType(typeId);
        }
      })
    }

    function deleteRoomType(typeId) {
      const protocol = window.location.protocol;
      const host = window.location.hostname;
      const port = window.location.port;
      const baseUrl = protocol + "//" + host + ":" + port;
      $.ajax({
        url: `${baseUrl}/regulations/room-type/${typeId}`,
        type: 'DELETE'
      }).done((data) => {
        $(`#room-type-${typeId}`).remove();
        console.log(data);
        Swal.fire({
          icon: 'success',
          title: 'Success',
          text: "The room type has been deleted",
          showConfirmButton: false,
          timer: 2000
        })
      }).fail((error) => {
        console.log(error);
        Swal.fire({
          title: "Oops...",
          text: "Something went wrong!",
          icon: 'error',
          confirmButtonText: 'Sad'
        })
      })
    }

    function confirmDeleteCustomerType(typeId) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-danger mr-3',
          cancelButton: 'btn btn-light'
        },
        buttonsStyling: false
      })

      swalWithBootstrapButtons.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
      }).then((result) => {
        if (result.isConfirmed) {
          deleteCustomerType(typeId);
        }
      })
    }

    function deleteCustomerType(typeId) {
      const protocol = window.location.protocol;
      const host = window.location.hostname;
      const port = window.location.port;
      const baseUrl = protocol + "//" + host + ":" + port;
      $.ajax({
        url: `${baseUrl}/regulations/customer-type/${typeId}`,
        type: 'DELETE'
      }).done((data) => {
        $(`#customer-type-${typeId}`).remove();
        console.log(data);
        Swal.fire({
          icon: 'success',
          title: 'Success',
          text: "The customer type has been deleted",
          showConfirmButton: false,
          timer: 2000
        })
      }).fail((error) => {
        console.log(error);
        Swal.fire({
          title: "Oops...",
          text: "Something went wrong!",
          icon: 'error',
          confirmButtonText: 'Sad'
        })
      })
    }
  </script>
{{/section}}
