<div class="container-fluid">

  <div class="row my-3">
    <div class="col-sm-6">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Rooms</h1>
    </div>
    <div class="col-sm-6 text-right">
      <a role="button" href="/rooms/new"
         class="btn font-weight-bold text-gray-100"
         style="background-color: #4e73df;">
        Create New Room
      </a>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Room table</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th class="col-1">ID</th>
            <th>Room Name</th>
            <th class="col-2">Status</th>
            <th class="col-2">Note</th>
            <th class="col-2">Room Type</th>
            <th class="col-2">Options</th>
          </tr>
          </thead>
          <tbody>
          {{#each rooms}}
            <tr id="room-id-{{this.room_id}}">
              <th scope="row">{{this.room_id}}</th>
              <td>{{this.room_name}}</td>
              <td>{{this.status}}</td>
              <td>{{this.note}}</td>
              <td>{{this.type_name}}</td>
              <td>
                <a role="button" class="btn py-0 px-1" href="/rooms/{{this.room_id}}">
                  <i class="far fa-edit fa-sm" style="color: #4e73df"></i>
                </a>
                <button role="button" class="btn py-0 px-1" onclick="confirmDelete('{{this.room_id}}')">
                  <i class="far fa-trash-alt fa-sm"></i>
                </button>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{{#section "script"}}
  <!-- Sweetalert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Datatables -->
  <script src="/js/demo/datatables-demo.js"></script>
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <script type="text/javascript">
    function confirmDelete(roomId) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-danger mr-3',
          cancelButton: 'btn btn-light'
        },
        buttonsStyling: false
      })

      swalWithBootstrapButtons.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
      }).then((result) => {
        if (result.isConfirmed) {
          deleteFilm(roomId);
        }
      })
    }

    function deleteFilm(roomId) {
      const protocol = window.location.protocol;
      const host = window.location.hostname;
      const port = window.location.port;
      const baseUrl = protocol + "//" + host + ":" + port;
      $.ajax({
        url: `${baseUrl}/rooms/${roomId}`,
        type: 'DELETE'
      }).done((data) => {
        $(`#room-id-${roomId}`).remove();
        console.log(data);
        Swal.fire({
          icon: 'success',
          title: 'Success',
          text: "The room has been deleted",
          showConfirmButton: false,
          timer: 2000
        })
      }).fail((error) => {
        console.log(error);
        Swal.fire({
          title: "Oops...",
          text: "Something went wrong!",
          icon: 'error',
          confirmButtonText: 'Sad'
        })
      })
    }
  </script>

{{/section}}