<div class="container-fluid">

    <div class="row">
        <div class="col-6 mb-4">
            <button type="button" class="btn shadow text-success font-weight-bold" onclick="filterRooms({{json rooms}})">
                All ({{rooms.length}})
            </button>
            <button type="button" class="btn btn-success font-weight-bold" onclick="filterRooms({{json availableRooms}})">
                Available ({{availableRooms.length}})
            </button>
            <button type="button" class="btn btn-info font-weight-bold" onclick="filterRooms({{json unavailableRooms}})">
                Unavailable ({{unavailableRooms.length}})
            </button>
            <button type="button" class="btn btn-secondary font-weight-bold" onclick="filterRooms({{json fixingRooms}})">
                Fixing ({{fixingRooms.length}})
            </button>
        </div>
    </div>

    <div class="row" id="roomRow">
        {{#each rooms}}
            {{#if (isAvailable this.status)}}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2"
                         style="background-color: rgba(46, 204, 113, 0.4)">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-lg font-weight-bold text-success text-uppercase mb-1">
                                        {{this.room_name}}
                                    </div>
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">{{this.status}}</div>
                                </div>
                                <!--                <div class="col-auto">-->
                                <!--                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
                                <!--                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                {{#if (isUnavailable this.status)}}
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2"
                             style="background-color: rgba(52, 152, 219, 0.4)">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-lg font-weight-bold text-info text-uppercase mb-1">
                                            {{this.room_name}}
                                        </div>
                                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{this.status}}</div>
                                    </div>
                                    <!--                  <div class="col-auto">-->
                                    <!--                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
                                    <!--                  </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-secondary shadow h-100 py-2"
                             style="background-color: #95a5a6">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-lg font-weight-bold text-gray-800 text-uppercase mb-1">
                                            {{this.room_name}}
                                        </div>
                                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{this.status}}</div>
                                    </div>
                                    <!--                  <div class="col-auto">-->
                                    <!--                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
                                    <!--                  </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>

<!-- Room Info Modal-->
<div class="modal fade" id="roomInfoModal" tabindex="-1" role="dialog" aria-labelledby="roomInfoModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content room-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roomInfoModalLabel">Room Detail</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li id="li-room-id">{{room.room_id}}</li>
          <li id="li-room-name">{{room.room_name}}</li>
          <li id="li-room-status">{{room.status}}</li>
          <li id="li-room-note">{{room.note}}</li>
          <li id="li-room-type">{{room.type_name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#section "script"}}
    <script>
        function filterRooms(rooms) {
            let content = "";
            for (const room of rooms) {
                if (room.status == "Available") {
                    content += `
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2"
                     style="background-color: rgba(46, 204, 113, 0.4)">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-success text-uppercase mb-1">
                                    ${room.room_name}
                                </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">${room.status}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`
                } else if (room.status == "Unavailable") {
                    content += `
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2"
                             style="background-color: rgba(52, 152, 219, 0.4)">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-lg font-weight-bold text-info text-uppercase mb-1">
                                            ${room.room_name}
                                        </div>
                                        <div class="h6 mb-0 font-weight-bold text-gray-800">${room.status}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                } else {
                    content+=`
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-secondary shadow h-100 py-2"
                             style="background-color: #95a5a6">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-lg font-weight-bold text-gray-800 text-uppercase mb-1">
                                            ${room.room_name}
                                        </div>
                                        <div class="h6 mb-0 font-weight-bold text-gray-800">${room.status}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                }
            }
            $('#roomRow').html(content);
        }

$('#roomInfoModal').on('show.bs.modal', function (event) {
      let button = $(event.relatedTarget); // Button that triggered the modal
      let data = button.data('whatever'); // Extract info from data-* attributes
      console.log(data);

      let modal = $(this);
      // remove modal footer
      $(".modal-content.room-modal-content .modal-footer").remove();
      // set modal content data
      modal.find("#li-room-id").text(`Room ID: ${data.room_id}`);
      modal.find("#li-room-name").text(`Room Name: ${data.room_name}`);
      modal.find("#li-room-status").text(`Room Status: ${data.status}`);
      modal.find("#li-room-note").text(`Room Note: ${data.note}`);
      modal.find("#li-room-type").text(`Room Type: ${data.type_name}`);

      let modalFooter;
      switch (data.status) {
        case "Available":
          modalFooter = `<div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-primary" href="/reservations/new">Create Reservation</a>
                        </div>`;
          break;
        case "Unavailable":
          modalFooter = `<div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-primary" href="/receipts/new">Create Receipt</a>
                        </div>`;
          break;
        default:
          break;
      }
      // add modal footer
      $(".modal-content.room-modal-content").append(modalFooter);
    });

    </script>
{{/section}}
